.env
micubot/venv/
.vscode/
.vscode-server/
.cache/
.config/
.local/
.dotnet/
__pycache__/
*.pyc
*.webm
code
code-cli.tar.gz
.*_history
.*rc
.lesshst
.profile
.wget-hsts
# Archivos de audio temporales
youtube-*
*.mp3
*.webm
*.m4a

# Credenciales y configuración
.env
.git-credentials
__pycache__/
.cache/
